.Oswald{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
}
.Open-Sans{
    font-family: 'Oswald', sans-serif;
}
.Sans-serif{
    font-family: sans-serif;
}
.Helvetica{
    font-family: Helvetica;
}