/** Personalmente estudio 12 horas, 6 horas el sabado y las otras el domingo; 6 horas más de las que piden en el curso y aún así no pude lograr al 100% el desafío 2 que se debía desarrollar en clases. Más que una buena nota espero aprender y no lo hice **/
body{
    background-color: #000000;
    color: #ffffff
}

body *{
    margin: 0;
    padding: 0;
    border: 0;
}

h1,h2,h3,p{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 500;
    font-size: 3.125em;
    margin: 0.5rem;
    text-align: center;
}


.img-post{
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.desc-section, .desc-img, .galery-section{
    display: inline-block;
    align-content: center;
}

.desc-section p{
    text-align: left;
    font-weight: 300;
}

.desc-img{
    width: 40%;
    float: right;
}

.icons-section h2{
    text-align: center;
    font-weight: 500;
    font-size: 2,5em;
    padding-top: 2.5rem;
    margin-top: 0.5rem;
}
.icons-section h3{
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.icons-section i{
    font-size: 3em;
    align-content: center;
}

.icons-section, footer {
    background-color: #1e1a13;
    color: #ffffff;
    opacity: 98%;
}

.galery-section{
    display: inline-block;
}

footer h3{
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
    padding: 3rem;
}