.lobster{
    font-family: 'Lobster', cursive ;
    font-size: 2.5em;
}
.cabin{
    font-family: 'Cabin', sans-serif;
}
hr{
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
h1{
    font-weight: 700;
}
.carousel .carousel-indicators li{
    width: 10px;
   height: 10px;
   border-radius: 100%;
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators .active{
    background-color: gray;
}
ul{
    list-style: none;
}