.lobster{
    font-family: 'Lobster', cursive ;
    font-size: 2.5em;
}
.lobster-small{
    font-family: 'Lobster', cursive ;
}
.cabin{
    font-family: 'Cabin', sans-serif;
}
hr{
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
h1{
    font-weight: 700;
}
.carousel .carousel-indicators li{
    width: 10px;
   height: 10px;
   border-radius: 100%;
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators .active{
    background-color: gray;
}
ul{
    list-style: none;
}
.newsletter-box{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.underline{
    position: relative;
}
.underline:after{
    content: '';
    width: 28%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: -8px; /* con esta propiedad lo mueves desde abajo */
    left: 0px
}
.red{
    color: red;
}